@use "sass:color";

$primary-color: #427fb9;
$primary-color-hover: color.adjust($primary-color, $lightness: -10%);

$secondary-color: #2c3e50;
$secondary-color-hover: color.adjust($secondary-color, $lightness: -10%);

$box-color: #fff;

$background-gradient: linear-gradient(135deg, $primary-color, $secondary-color);

$button-text-color: #fff;

$input-border-color: #ccc;
$input-border-color-focus: $primary-color;

$input-error: red;
$input-error-border: 2px solid $input-error;
